language: bash 
services:
  - docker
before_install:
  - echo "Building simple-app..."
  - mvn clean install
  - echo "Application built successfully."
  - echo "Starting Docker build docker image..."
  
script:
- docker compose build
before_deploy:
  - echo "${DOCKER_ACCESS_TOKEN}" docker login -u "${DOCKER_USERNAME}" --password-stdin
deploy:
  provider: script
  script: docker push vicentesimao/simple-app:latest
  on:
    branch: main

#notifications:
#  email:
#    on_success: never
#    on_failure: always

notifications: 
  email: false
